/* Keycloak css */
/* TODO: we probably don't need all of these styles in the future if we will use MUI */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter" !important;
}
input[type="text"],
input[type="password"] {
  border-radius: 3.5px;
  height: 54px;
  line-height: 26px;
  font-size: 16px;
  padding: 15px;
  width: 290px;
  color: #212121 !important;
  font-family: "Inter" !important;
}
input[type="text"]:hover,
input[type="password"]:hover {
  border: 1px solid #616161 !important;
  box-shadow: none !important;
}
input[type="text"]:active,
input[type="text"]:focus,
input[type="text"]:focus-visible,
input[type="password"]:active,
input[type="password"]:focus,
input[type="password"]:focus-visible {
  border: 1px solid #59b87f !important;
  box-shadow: none !important;
  outline: none !important;
}
h1 {
  font-size: 34px;
  font-weight: 450;
  font-family: "Futura PT" !important;
  color: #212121 !important;
}
h2 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Futura PT" !important;
  color: #212121 !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: normal !important;
  color: #9e9e9e !important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: normal !important;
  color: #9e9e9e !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  font-style: normal !important;
  color: #9e9e9e !important;
}
.my-form-options-wrapper {
  text-align: center;
}
.my-login {
  width: 100%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  font-size: 16px;
}
.my-form-card {
  background-color: #fff;
  border-radius: 20px;
  border: 0;
  border-top: 1px solid #e9e9e9;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 10%);
  grid-column: 3;
  margin-top: 15vh;
  padding: 80px clamp(20px, 10vw, 60px) 90px;
  /* width: 100%; */
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.my-form-social-account {
  margin-top: 32px !important;
}
.my-form-social-account-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 390px;
  /* text-align: center; */
}
.my-form-social-account-list-link {
  padding-top: 16px;
}
.my-form-social-account-list-link a {
  color: #fff;
  background-color: #2c7a4d;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}
.my-form-social-account-list-link a:hover {
  background-color: #215537 !important;
  color: #fff !important;
}
.my-form-social-account-list-link a:visited {
  color: #fff !important;
}
#kc-header-wrapper {
  display: none;
}
#kc-social-providers {
  border-left: none !important;
  align-items: center;
  display: flex;
}
#kc-form-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 390px;
  text-align: center;
}
#kc-page-title {
  display: none;
}
#kc-form-login {
  /* margin-top: 10px; */
  padding-top: 10px;
  /* border-top: 1px solid #EEE; */
  text-align: start;
}
#kc-form-buttons {
  border-top: none !important;
  margin-top: 20px !important;
  /* border-top: 1px solid #EEE; */
  text-align: start;
}
.btn {
  /* box-shadow: 0px 0px 2px #BDBDBD !important; */
  box-shadow: none !important;
  outline: 1px solid #bdbdbd !important;
  color: #2c7a4d;
  background-color: #fff;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter" !important;
}
.btn:hover,
.btn:focus,
.btn:hover,
.btn:active {
  color: #215537 !important;
  /* font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 48px !important;
    padding: 0px 30px !important;        
    padding: 0px 30px !important;     */
}
.btn:focus-visible {
  color: #215537 !important;
  outline: 1px solid #bdbdbd !important;
}
.btn-primary {
  color: #fff;
  /* background-color: #2C7A4D; */
  background-image: linear-gradient(to bottom, #2c7a4d 0, #2c7a4d 100%);
  outline-color: transparent !important;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  background-color: #215537 !important;
  color: #fff !important;
}
.zocial:before {
  content: none !important;
}
