body { 
    background: url(./vall_bakgrund.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    font-size: 16px;
}

/* Keycloak css */
.my-login {
    padding-top: 1px;
}
.my-form-card { 
    background-color: #fff;
    border-radius: 20px;
    border: 0;
    border-top: 1px solid #e9e9e9;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 10%);
    grid-column: 3;
    margin-top: 15vh;
    padding: 80px clamp(20px, 10vw, 60px) 90px;
    /* width: 100%; */
    width: 550px;
    margin-left: auto;
    margin-right: auto;    
}
.my-form-social-account {
    margin-top: 32px !important;    
}
.my-form-social-account-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 390px;
    /* text-align: center; */
}
.my-form-social-account-list-link {
    padding-top: 16px;
}
.my-form-social-account-list-link a {
    color: #fff;
    background-color: #2C7A4D;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding: 0px 30px;    
}
.my-form-social-account-list-link a:hover {
    background-color: #215537 !important;
    color: #fff !important;
}
.my-form-social-account-list-link a:visited {
    color: #fff !important;
}
#kc-header-wrapper { display: none; }
#kc-social-providers {
    border-left: none !important;
    align-items: center;
    display: flex;    
}
#kc-form-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 390px;
    text-align: center;
}
#kc-page-title { display: none; }

/* Custom */
.agrosfar__logo {
    margin-bottom: 40px;
    max-width: 200px;
    object-fit: contain;
    width: 100%;
}
.login__title {
    font-size: 34px;
    font-weight: 600;
    margin: 0 0 16px;
}
.login__description {
    color: #616161;
    line-height: 1.4;
    margin: 0;
}